
<div class="m-5">
    <app-modal-built-in></app-modal-built-in>
</div>

<div class="m-5">
    <button class="btn btn-lg btn-outline-primary" (click)="openTemplate()">
        SEPARATE COMPONENT TEMPLATE
    </button>
</div>

<div class="m-5">
    <button class="btn btn-lg btn-outline-primary" (click)="openTemplateUrl()">
        SEPARATE COMPONENT TEMPLATE URL
    </button>
</div>

<div class="m-5">
    <button class="btn btn-lg btn-outline-primary" (click)="openNestedComp()">
        NESTED COMPONENT
    </button>
</div>
